<section id="dashboard">
    <div id="menu">
        <ul>
            <li><a href="/accHome">Home</a></li>
            <li><a href="/accOrd">Orders</a></li>
            {{#if user.ic}}<li><a href="/addProd">Add Product</a></li>{{/if}}
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="views">
        <div {{#if summary}}id="active"{{/if}}>
            {{!-- <h2>Welcome {{user.name}} to Amazon!!</h2> --}}
            <h2>Welcome {{user.name}} to Amazon!!</h2>
        </div>
        <div {{#if orders}}id="active"{{/if}}>
            <p>No Orders...</p>
        </div>
    </div>
</section>