* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: linear-gradient(#656565 1%, #dbdbdb 89%);
    font-family: 'Merriweather', serif;
}

header {
    padding: .5rem 5rem;
    box-shadow: 0px 5px 10px #00797e;
}

header * {
    display: inline-block;
}

header img {
    height: 100px;
    width: auto;
}

nav {
    float: right;
    padding: 2rem 0
}

nav li {
    margin: .75rem;
    font-size: 1.1rem;
}

nav li:hover {
    color: #ebc92c;
}

img {
    height: auto;
    width: 100%;
}

main {
    max-width: 100rem;
    margin: 2rem auto;
}

main a, main input[type=submit] {
    border: 1px solid #000;
    border-radius: 5px;

    background-color: #ebc92c;

    display: inline-block;
    padding: .25rem;
    margin: 1rem 0;
    width: 100%;
}

#promo {
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: inset 0 2.5px 10px #00797e;
}

#promo > h1 { 
    margin: 2rem;
    font-size: 2rem;
}

#promo > div {
    max-width: 25rem;
    /* margin: 0 auto; */
    padding: 1rem;
    box-shadow: 0px 5px 10px #00797e;
}

#promo > div > a {
    width: 10rem;
}


.homeProdSecs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: .5rem;
}

.homeProdSecs > div {
    margin: .5rem .25rem;
}

#cats, #homeBSTitle, #promo, #topSold {
    text-align: center;
}

#cats img {
    margin-top: .5rem;
}

#productsPage {
    display: grid;
    grid-template-columns: 1fr 6fr
}

#prodCats {
    margin: .5rem .25rem;
}

#prodCats > ul {
    padding: 1rem;
    list-style-type: none;
}

#prodCats li {
    margin: 1rem;
    text-align: center;
}

#prodCats a {
    margin: 0;
}

#productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .5rem;
}

#productList > div {
    margin: .5rem .25rem;
}

#loginForm, #createForm, #addProdForm {
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;

    text-align: center;
}

#loginForm > form, #createForm > form, #addProdForm > form {
    padding: 1rem;
    margin: 2rem 1rem;
    box-shadow: 0px 5px 10px #00797e;

    text-align: left;
    background-color: #dbdbdb;
}

#loginForm input[type=text], #loginForm input[type=password],
#createForm input[type=text], #createForm input[type=password],
#addProdForm input[type=text], #addProdForm input[type=number],
#addProdForm textarea, #addProdForm select  {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    padding: 10px 5%;
    margin: .5rem 0 0 0;

    border-radius: 5px;
}

#loginForm input[type=submit], #createForm input[type=submit], #addProdForm input[type=submit] {
    font-family: 'Merriweather', serif;
}

#loginForm input[type=submit]:hover, #createForm input[type=submit]:hover, #addProdForm input[type=submit]:hover {
    cursor: pointer;
}

.errBox {
    border-color: #f00;
}

.errMess {
    color: #f00;
    font-size: 1rem;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 6fr;
    box-shadow: 0 2.5px 10px #00797e;
}

#dashboard > #menu ul {
    list-style: none;
    padding: 1rem;
}

#dashboard > #menu li {
    padding: 0 1rem;
    width: 80%;
}

#dashboard > #views {
    text-align: center;
    box-shadow: inset 0 2.5px 10px #00797e;
    height: 30rem;
}

#dashboard > #views div {
    padding: 2rem;
    display: none;
}

#dashboard > #views > #active {
    display: block;
}

footer {
    /* height: 3rem; */
    /* line-height: 3rem; */
    /* text-align: center; */
    box-shadow: 0px -5px 10px #00797e;

    padding: 1.5rem;
}

footer div {
    float: right;
    font-size: 1rem;
}

footer div * {
    margin: 0 1rem;
}

@media(max-width: 750px) { 
    header > h4 {
        display: none;
    }

    .homeProdSecs {
        grid-template-columns: 1fr 1fr;
    }

    #productList {
        grid-template-columns: 1fr 1fr;
    }

    footer > * {
        float: left;
        text-align: center;
    }
}

@media(max-width: 500px) {
    header {
        padding: .5rem 2.5rem;
    }

    header li {
        display: block;
    }

    #productList {
        grid-template-columns: 1fr;
    }
}